@use "variables";
@use "mixins";

body{
    min-height: 100vh;
    background: map-get(variables.$baseVars, "background");
    color: map-get(variables.$baseVars, "color");
    font-family: map-get(variables.$baseVars, "font");
    font-size: 2rem;
}

.main{
    @include mixins.flexBox;
    flex-direction: column;
    padding: 2rem 20rem;
}