@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.auth{
    background: black;
    width: 100%;
    height: 100%;
    @include mixins.flexBox;
    
    &__figure{
        background: blue;
        width: 50%;
        height: 100%;
    }
    &__form{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 2rem;
        padding: 5rem 10rem 10rem 10rem;

        &--wrapper{
            @include mixins.flexBox;
            flex-direction: column;
            width: 100%;
            gap: 1.4rem;
        }

        &--input{
            background: lighten(map-get(variables.$baseVars, "background"), 5%);
            border: none;
            padding: 1rem;
            font-size: 100%;
            width: 100%;
            color: map-get(variables.$baseVars, "color");

            &:focus{
                background: lighten(map-get(variables.$baseVars, "background"), 50%);
                outline: none;
                color: map-get(variables.$baseVars, "background");

                &::placeholder{
                    color: map-get(variables.$baseVars, "background");
                }
            }
        }

        &--remember{
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1rem;

            &-checkbox{
                appearance: none;
                width: 2rem;
                aspect-ratio: 1/1;
                border: 0.2rem solid map-get(variables.$baseVars, "border");
                border-radius: 0.4rem;

                &:checked{
                    background: map-get(variables.$baseVars, "accent");
                }
            }

            &-label{
                font-size: 80%;
            }
        }

        &--links{
            @include mixins.flexBox;
            flex-direction: column;
            gap: 2rem;
            width: 100%;
        }

        &--submit{
            width: 100%;
            border: none;
            background: map-get(variables.$baseVars, "accent");
            padding: 1.4rem;
            text-transform: uppercase;
            font-weight: 600;
            color: map-get(variables.$baseVars, "color");
            font-size: 90%;
        }

        &--link{
            color: map-get(variables.$baseVars, "color");
            font-size: 85%;
        }
    }
}